*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    background-color: #4277a5;
}
.header_container{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding-left: 25px;
    align-items: center;
}
.header_container > a{
    display: block;
    text-decoration: none;
    color: #ededed;
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: 6px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    opacity: .15s;
} .header_container > a:hover{ color: #fff;}
.input{
    margin-left: 120px;
    background-color: #324766;
    border-width: 0;
    height: 30px;
    border-radius: 25px;
    color: red;
    outline: none;
}
input[type=text] {
    color: #5b6673;
    border-width: 0;
    text-align: center;
}


/* MAIN */
.main{
    background-color: #e8eaed;
    padding-bottom: 70px;
}
.container{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 24px 5px 0 5px;
}


/* ASIDE */
.aside{
    padding-top: 30px;
    padding-left: 13px;
    width: 150px;
}

.aside_li{
    border-radius: 6px;   
    padding: 6px 0;
    padding-left: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    list-style-type: none;
    font-size: 16px;
}.aside_li:hover{background-color: #fff;}
.aside > a{
    display: block;
    width: 100%;
}

/* Section1 */
.section_one{
    margin-left: 10px;
    width: 280px;
}
.profile{
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
}
.profile_i{
    height: 255px;
    width: 255px;
    cursor: pointer;
}
.profile_button{
    cursor: pointer;
    border-width: 0;
    border-radius: 3px;
    margin-top: 15px;
    width: 255px;
    height: 35px;
}
.friend{
    background-color: #fff;

    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 6px;
}
.friend_wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 50px);   
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}
.friend_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
} .friend_p{
    line-height: 14px;
    font-size: 14px;
}




.section_two{
    margin-left: 16px;
    width: 620px;
}
.profile_info{
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
}
.profile_info > h1{
    color: #34638f;
    cursor: pointer;
}
.line{
    margin: 20px 0;
    height: 3px;
    background-color: #f7f7f7;
}
.profile_text_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 200px);   
    grid-row-gap: 6px;
}

.profile_nav_wrapper{
    display: flex;
    justify-content: space-between;
}
.profile_nav{
    text-align: center;
    cursor: pointer;
}
.profile_nav_p{
    font-size: 24px;
}
.profile_img_container{
    background-color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    padding: 15px;
}
.profile_img_container > p{
    cursor: pointer;
}

.profile_img_wrapper{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.profile_img{
    width: 135px;
    height: 135px;
    cursor: pointer;
}


.profile_post_container{
    border-radius: 6px;
    background-color: #fff;
    margin-top: 15px;
    padding: 15px;
}
.profile_post_info{
    display: flex;
    align-items: center;
}
.profile_post_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.profile_post{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.p{
    font-weight: 700;
    color: #34638f;
    cursor: pointer;
}.pp{
    font-size: 12px;
}

.profile_post_text{
    font-size: 18px;
    padding-top: 15px;
}

.q{
    color: #555;
    opacity: 1;
}